@media screen and (max-width: 768px) {
  .section_1 {
    background-color: #1C0E0E;
    background-image: url(heroimagefull.png);
    background-blend-mode: luminosity;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
  }

}

@media screen and (min-width: 768px) {

  /*section 5 web */
  .testwrap1 {
    width: 62%;
    margin: 15%;
    padding: 0;
    display: flex;
    align-content: center;
    justify-content: center;
  }



  /*GOTS web first page text*/
.gots_text {
    font-size: 1.5rem;
    font-family: 'futura_medium';
    line-height: 1.75rem;
    color: #FFFFFF;
    padding-top: 2rem;

    margin-left: 0rem;
    margin-bottom: 0rem;
    width: 50vw;;
}
.gots_text_two {
  padding-left: 3rem;
}

.gots_text_three {
max-width: 70vw;
padding-left: 2rem;
}

/*slide 2,3,4 headers*/
.testwrap2 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow:column nowrap;

  height: 70vh;
  width: 60%;
  padding: 0rem 0rem 7rem 0rem;

  j
}
.testwrap2 > h1 {
    font-size: 3rem;
    margin: 0rem 1rem 1rem;
}

.testwrap3 {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding-bottom: 7rem;
    padding-top: 3rem;
  }
  .testwrap3 > h1 {
    font-size: 3rem;
    margin-top: 4rem;
    margin-bottom: 1.5rem;
  }
  .testwrap3 > h1, p {
    color: white;
  }
  .testwrap3 > p {
    font-size: 1.5rem;
    color: white;
    max-width: 50vw;
    margin-top: 2rem;
    margin-left: 1.5rem;
  }

#cotton {
display: flex;
justify-content: center;
align-items: flex-end;
margin: auto;
padding: 0% 0% 1rem;
width: auto;
height: 41%;
}

#t-shirt {
  height: 20vh;
}

/*text under bilder*/
.testwrap2 > p {
    margin: 0;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    line-height: 1.75rem;
    align-items: center;
    font-family: 'futura_medium';
    color: #FFFFFF;
}

.testwrap2 > .produce_text {
  line-height: 1.75rem;
}

/*lookbook */
.lookbook_clicked {
  height: 100vh;
  width: 100vw;
  top: 0;
  background-position: center;
  background-size: contain;

}
.logodash {
  width: 4rem;
  height: 0.1rem;
  margin-top: 1rem;
  background-color: #76C883;
  transition: all .3s ease;

}

.lookbook {
  background-size: contain;
}

.buttonwrap {
  transition: all 1s ease;
  flex-direction: row;

}

.middlemobile1 {
  margin: 0;
  height: 60vh;
  width: 100vw;
  padding: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 10vw;
}
.mobile {
  display: none;
}

.ingress {
  font-family: Parabola;
  width: 70vw;
  height: 50%;
  text-align: left;
  font-weight: lighter;
  font-size: 4em;
  line-height: 1.1;
  transition: all .5s ease;

}

.textdashmobile {

  height: 0.125rem;

  background-color: black;
    transition: width .3s ease-out .3s;
  margin-right: 3px;
}

}



@media screen and (min-width: 1000px) {
  .knapp:hover {
    transform: translate(0.25rem, 0.25rem);

  }

  .knapp:hover:before {
    transform: translate(-0.5rem, -0.5rem);
  }
  .knapp:hover .knp-forward {
    animation: 0.8s 0.2s infinite ease-out forward;
  }

  .knapp:hover .knp-down {
    animation: 0.8s 0.2s  infinite ease-out down;
  }

.ingress {
  font-family: Parabola;
  width: 80vw;
  min-width: 1000px;;
  height: 60vh;
  text-align: left;
  font-weight: lighter;
  font-size: 6.5rem;
  line-height: 1;
  margin-top: 0rem;


}

.section_2 {
  height: 50vh;
  width: 100vw;
  background-color: white;
}

.section_2_ingress_wrap {
  display: none;
}

.section_2_ingress {
  text-align: center;
}


.section_2_text_wrap {
  height: 50vh;
  width: 100vw;
  background-color: white;
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}

.section_2_text_webb {
  width: 50vw;
  min-width: 30vw;
  color: #76C8A8;
  font-family: 'Futura';
  font-weight: lighter;
  letter-spacing: normal;
  font-size: 24px;
  line-height: 1.2;
  padding: 0;
  margin: 0;
  height: auto;
}

.section_3 {
  background-color: #1C0E0E;
  height: 50vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
@keyframes backgroundchange {
  from { opacity: 0;}
    to{ opacity: 1; }
  }
.section_3_background {
  background-image: url(./lookbookimages/lookbook_4_luminosity.png);
  width: 100vw;
  height: 50vh;
  background-position: 60% 70%;
  background-size: cover;
  background-repeat: no-repeat;
  filter: blur(0);
  overflow-y: hidden;
  z-index: 1;
  background-color: #1C0E0E;
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
  animation-name: backgroundchange;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}



.mobilknapp {
  visibility: hidden;
}
.webbknapp {
  visibility: visible;
}
.section_3_textwrap {
  width: 100vw;
  height: 50vh;
  background-color: none;

}

.section_3_text_mobile {
  display: none;
}

.textlinewrap {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  margin-right: 8%;
}

.section_3_text_webb {
  display: inline;
  margin-bottom: 20px;
  color: white;
  z-index: 1;
  font-size: 79px;
  font-weight: lighter;
  text-align: center;
  background-color: none;
  }

  .tinyline {
    width: 100px;
    height: 2px;
    background-image: url(./tinyline.svg);
    background-repeat: none;
    z-index: 10;
    background-color: #76C8A8;
    margin-right: 10px;
    margin-bottom: 20px;
  }

  /*Lookbook*/

  .lookbook_wrap {
    position: relative;
    background-color: #1C0E0E;
    display: flex;
  }

  .lookbook_one {
    width: 29vw;
    height: 70vh;
    top: 10%;
    left: 68%;
    background-size: contain;
    background-image: url(section_4_one.png);
    background-repeat: no-repeat;
    background-position: center;

    background-blend-mode: luminosity;
  }




  .lookbook_two {
    display: none;

  }

  .lookbook_three {
    width: 25vw;
    height: 50vh;
    background-image: url(./lookbookimages/lookbook_3.png);
    background-size: contain;
    background-repeat: no-repeat;
    top:40%;
    left: 4%;
    transition: all .5s ease;
    background-blend-mode: luminosity;
  }
  .lookbook_four {
    width: 30vw;
    height: 30vh;
    background-image: url(./lookbookimages/lookbook_4.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 0;
    top: 5%;
    left: 25%;
    transition: .1s ease;
    background-position: center;
    background-blend-mode: luminosity;
  }

  .lookbook_five {
    display: none;
  }
  .lookbook_six {
    width: 25vw;
    height: 60vh;
    background-image: url(./lookbookimages/lookbook_6.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    top: 37%;
    left: 40%;
    transition: all .5s ease;
    background-blend-mode: luminosity;
  }

  .lookbook_clicked {
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background-position: center;
    background-size: contain;
    animation-name: lookbook;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-direction: forwards, backwards;
    opacity: 1;


  }

  .lookbook {
    cursor: pointer;
  position: absolute;
  background-color:#1C0E0E;
  z-index: 5;
  opacity: 0.5;
  transition: top, left,  .5s ease;
  background-position: center;
  /*transition: transform, opacity .3s ease;*/
  }

  .lookbook:hover {
    transform: scale(1.01);

    opacity: 0.7;
  }

  /*GOTS WEBB*/

  .gots_ingress_plus_dash {
    top: 5rem;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: auto;
    align-self: center;
  }

.gots_ingress {
    font-family: 'futura_bold';
    font-weight: lighter;
    margin: 0.5rem;
    color: #FFFFFF;
    width: 75%;
    font-size: 1.5rem;
    text-align: center;
  }

  .blackline {
    margin-top: 0rem;
    margin-right: 1.5rem;
    width: 5rem;
    height: 0.125rem;
    background-color: black;
  }

  .gots_buttons_wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem 0 2rem;
    z-index: 10;
    overflow: scroll;
    padding: 0 6rem 0 6rem;
  }
  #gots-btn_swipe_left {
    display: none;
  }

  #gots-btn_swipe_left_webb {
    width: auto;
    display: flex;
  }

  #gots-btn_swipe_right {
  width: auto;
  display: flex;
  }

  .navigationbar {
    position: absolute;
    bottom: 3rem;
    width: 55vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    background-color: #1C0E0E;
    overflow: scroll;
    color: white;
    z-index: 1000;
    border-radius: 20px;
  }

  .navigationtext, .navigationpil {
   color: #76C8A8;
   margin-right: 1.5rem;
   transition: all .3s ease;
   font-size: 1rem;
   letter-spacing: 1px;
  }
  /*Infographics webb*/

  .info_buttons_wrap {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 6rem 0 6rem;
    z-index: 10;
    overflow: scroll;
    padding-bottom: 0rem;
  }
  .infographic_buttons {
  cursor: pointer;
  }

  .slide_one {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./Infographics_bilder/infographics_bg_1.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%;
    padding-bottom: 0rem;
  }

  .infographics_1 {
    height: 100vh;
    width: 100vw;

    max-height: 300px;
    margin-top: 8rem;
    margin-bottom: 2rem;
    transition: all .3s ease;
  }

  .infographics_2 {
    background-image: url(./Infographics_bilder/infographics-2.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 90vw;
    height: 50vh;
    max-height: 40rem;
    max-width: 50rem;
    margin-top: 7rem;


  }

  .infographics_text_wrap {
    flex-flow: row nowrap;
    height: 10rem;
  }


  .infographics_ingress {
    border-right: .1rem solid white;
    font-size: 5em;
    font-weight: 100;
    margin-top: 0em;
    color: #76C8A8;
  }
  .infographics_text {
    margin-left: 1.25rem;
    font-size: 1rem;
    max-width: 300px;
    text-align: left;
    color: white;
  }

  .slide_two {
    background-image: url(./Infographics_bilder/infographics_bg_2.png);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 0rem;
    padding-bottom: 0rem;
  }

  .slide_three {
    background-image: url(./Infographics_bilder/infographics_bg_3.png);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column nowrap;
    padding-top: 4rem;
  }


  .infographics_3 {
    background-image: url(infographics_bilder/infographics-3.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 40vw;
    height: 50vh;
    max-height: 40rem;
    max-width: 50rem;
    margin-top: 6rem;
    margin-bottom: 4rem;
  }
  #textwrapthree {
    height: auto;
    margin-bottom: 0rem;
}

  /*SYMBOLS WEBB*/

  .section_7{
    background-color: #76C8A8;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;


  }
  .symbols_wrap_upper {
    width: 100vw;
    height: 50vh;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

  }
  .symbols_upper {
    width: 70%;
    flex-flow: row nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction:row;
  }

  .symbols_svg_wrap {
    display: flex;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding-top: 4rem;
    margin-bottom: 1rem;
  }

  .symboltext {
    font-size: 0.8rem;
    font-weight: bold;
    letter-spacing: 3px;
    border-bottom: none;
  }
  .symbols_dash_wrap_webb {
      display: flex;
      justify-content: space-around;
      width: 70%;
      height: 5rem;
      display: run-in;
      transition: all .5s ease;
      align-items: center;

  }

  .symbols_textwrap_organic {
    display: flex;

    align-items: center;
    width: 70%;
    max-width: 40rem;
    margin-bottom: 2rem;
    transition: all .5s ease;

  }
  .symbols_ingress {
    color: black;
    font-weight: lighter;
    font-size: 3rem;
    height: 6rem;
    transition: opacity .5s ease;
  }
  .symbols_text_organic {
    transition: all .5s ease;
    font-size: 1rem;
    font-weight: lighter;
  }

  .symbols_dashes_webb {
    height: 0rem;
    width: 0.15rem;
    background-color: black;
    transition: all .5s ease;
  }

  .webbdash_show {
    height: 6rem;
    transition: all .3s ease .2s;

  }

  .textdashmobile {
    visibility: hidden;
    height: 0.125rem;

    background-color: black;
      transition: width .3s ease-out .3s;
    margin-right: 3px;
  }
  .symbols_lower {
    width: 100vw;
    height: 50vh;
  }

  .symbol {
    width: 100px;
    margin-bottom: 0.5rem;
    cursor: pointer;
    transition: transform .1s ease opacity .2s ease;
  }
.footer_wrap {
  width: 100vw;
  height: auto;
  display: flex;
  flex-flow: row-reverse;
    justify-content: space-around;
    align-items: flex-end;
}
  .social_media_wrap {
    width: auto;
    height: auto;

    bottom: 1rem;
    right: 5%;
    display: flex;
    padding-left: 1rem;
  }

  .social {
    margin-right: 1.5rem;
    width: 30px;
    height: 30px;
    opacity: 0.5;
  }

  .footerlink {

    font-size: 16px;
    padding-left: 0rem;
    letter-spacing: 2px;
  }

  .footerlink:hover {
    color: #76C8A8;
  }
  #copyright {
    opacity: 0.5;
    font-size: 10px;

    padding-left: 1rem;

  }
  .FB, .IG, .TW {
    transition: all .3 ease;
    opacity: .5;
  }

  .FB:hover .facebookpath {
    fill: #76C8A8;
    opacity: 1;

  }

  .IG:hover .instagram_path {
    fill: #76C8A8;
    opacity: 1;
  }
  .TW:hover .twitterpath {
    fill: #76C8A8;
    opacity: 1;
  }
}
